<!-- <p>header works!</p> -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <!-- <a class="navbar-brand" href="#">Navbar</a> -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <!-- <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled">Disabled</a>
      </li>
    </ul> -->
    <!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> -->
    

    <!-- Button trigger modal -->
<button type="button" class="btn btn-primary ml-auto" data-toggle="modal" data-target="#exampleModal">
  Buy now
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add new product</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="myform">
          <div class="form-group">
            <label for="image">Image</label>
            <input type="file" class="form-control" id="image" (change)="getFile($event)" accept=".gif,.jpg,.jpeg,.png" formControlName="image">
            <span *ngIf="!(img.size <= 180000) && myform.get('image').dirty" class="text-danger">Image size is more than 100kb please upload less than 100kb image</span>
          </div>
          <div class="form-group">
            <label for="prdName">Product name</label>
            <input type="text" class="form-control" id="prdName" placeholder="Enter product name" name="prouctName" formControlName="prodName">
            <small *ngIf="myform.get('prodName').invalid && myform.get('prodName').touched">
              <span class="text-danger" *ngIf="myform.get('prodName').errors?.['required']">*Product name is required</span>
            </small>
          </div>
          <div class="form-group">
            <label for="price">Price</label>
            <input type="text" class="form-control" id="price" placeholder="Enter price" name="productPrice" formControlName="prodPrice">
            <small *ngIf="myform.get('prodPrice').invalid && myform.get('prodPrice').touched">
              <span class="text-danger" *ngIf="myform.get('prodPrice')?.errors?.['required']">*Product price is required</span>
              <span class="text-danger" *ngIf="myform.get('prodPrice')?.errors?.['pattern']">*Enter only numeric values</span>
            </small>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="onSubmit()">Submit</button>
      </div>
    </div>
  </div>
</div>



    <!-- <button type="button" class="btn btn-danger ml-auto" (click)="buyNow()">
      Buy now
    </button> -->

  </div>
</nav>
<!-- <img src="https://cdn.pixabay.com/photo/2014/04/02/10/53/shopping-cart-304843__340.png" class="card-img-top w-10 img-fluid" alt="..."> -->